@import "~bootstrap/dist/css/bootstrap.min.css";
.body {
  box-sizing: border-box;
}

.card {
  display: inline-block;
  text-align: center;
  background: white;
  margin: auto;
  font-size: 60px;
  height: 300px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: black;
}
.card::before {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 60px;
}
.card::after {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 60px;
  transform: rotate(180deg);
}
.trebol::before .trebol:after {
  content: "\2660";
  color: black;
}
.pica:before,
.pica:after {
  content: "\2663";
  color: black;
}
.diamante:before,
.diamante:after {
  content: "\2666";
  color: red;
}
.corazon:before,
.corazon:after {
  content: "\2665";
  color: red;
}
